body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url("my_images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

#webcam-container { 
    display: none; }

#image-display {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-display img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#prediction {
    position: fixed;       
    bottom: 0;           
    left: 0;     
    width: 100%;
    background-color: white;
    color: lightskyblue;
    font-size: 25px;
    font-weight: bold;
    text-align: center; 
    z-index: 1000;
    padding: 10px 0;
}

nav {
  text-align: center;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: rgb(255, 131, 247);
  font-family: "avenir-next-lt-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  padding-top: 30px;
  border: 2px solid rgb(248, 255, 56); 
  padding: 20px;            
  width: 200px;            
  text-align: center;  
  background-color: rgb(154, 255, 196);
  
}

nav a:hover {
  color: rgb(255, 196, 102);
}